<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | BenjaminSemah</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <p>
        This projects was built as part of the 
        <a 
          href="https://www.freecodecamp.org/learn/back-end-development-and-apis/#back-end-development-and-apis-projects"
          target="_blank"
          >
          freeCodeCamp Backend Curriculum.
        </a>
        It is the first of five projects.
      </p>
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2015-12-25">the-timestamp/api/2022-12-25</a></li>
        <li><a href="api/1671926400000">the-timestamp/api/1671926400000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1671926400000, "utc":"Sun, 25 Dec 2022 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://linktr.ee/benjaminsemah" target="_blank">Benjamin Semah</a>
      </p>
    </div>
  </body>
</html>
